[package]
name = "Gupax"
version = "1.0.0"
authors = ["hinto-janaiyo <hinto.janaiyo@protonmail.com>"]
description = "GUI for P2Pool+XMRig"
documentation = "https://github.com/hinto-janaiyo/gupax"
edition = "2021"

[profile.release]
debug = false
strip = "symbols"
codegen-units = 1
lto = true

[dependencies]
anyhow = "1.0.65"
arti-client = { version = "0.7.0", features = ["static"] }
arti-hyper = "0.7.0"
bytes = "1.2.1"
dirs = "4.0.0"
eframe = "0.19.0"
egui = "0.19.0"
egui_extras = { version = "0.19.0", features = ["image"] }
#--------------------------------------------------------------------------------
## [external/egui/crates/eframe/src/native/run.rs] line 41: [.with_srgb(true)]
## This line causes a [panic!] inside a Windows VM, from a Linux host.
## There are many issue threads and PRs to fix it but for now,
## this is here for convenience sake when I'm testing.
## The only change is [.with_srgb()] is set to [false].
#eframe = { path = "external/egui/crates/eframe" }
#egui = { path = "external/egui/crates/egui" }
#egui_glow = { path = "external/egui/crates/egui_glow"}
#egui_extras = { path = "external/egui/crates/egui_extras", features = ["image"] }
#--------------------------------------------------------------------------------
env_logger = "0.9.1"
figment = { version = "0.10.8", features = ["toml"] }
hyper = "0.14.20"
hyper-tls = "0.5.0"
image = { version = "0.24.4", features = ["png"] }
log = "0.4.17"
num_cpus = "1.13.1"
num-format = { version = "0.4.3", default-features = false }
portable-pty = "0.7.0"
rand = "0.8.5"
regex = { version = "1.6.0", default-features = false, features = ["perf"] }
rfd = "0.10.0"
serde = { version = "1.0.145", features = ["rc", "derive"] }
serde_json = "1.0"
sysinfo = { version = "0.27.0", default-features = false }
tls-api = "0.9.0"
tls-api-native-tls = "0.9.0"
tokio = { version = "1.21.2", features = ["rt", "time", "macros", "process"] }
toml = { version = "0.5.9", features = ["preserve_order"] }
tor-rtcompat = "0.7.0"
walkdir = "2.3.2"
zeroize = "1.5.7"

# Unix dependencies
[target.'cfg(unix)'.dependencies]
tar = "0.4.38"
flate2 = "1.0"
sudo = "0.6.0"

# Windows dependencies
[target.'cfg(windows)'.dependencies]
zip = "0.6.3"
is_elevated = "0.1.2"

# For Windows build (icon)
[target.'cfg(windows)'.build-dependencies]
winres = "0.1.12"
static_vcruntime = "2.0"

# For macOS build (cargo-bundle)
[package.metadata.bundle]
identifier = "com.github.hinto-janaiyo.gupax"
icon = ["images/icons/icon@2x.png"]
